﻿@using System.Web.Mvc;
@{
    ViewBag.Title = "AsyncTaskCaller";
}
@*@Scripts.Render("~/bundles/jquery3.2.1slim.min")*@
<label>Prueba</label>
@section Scripts{
    @Scripts.Render("~/bundles/jquery3.2.1slim.min")
}

<script type="text/javascript">
    $.ajax({
        url: "@Url.Action("AsyncRequest", "AsyncTasks")",
        complete: function (e, data) {
            console.log(e);
            console.log(data);
        }
    });
</script>
